extends layout

block content

    div.jumbotron
     h1(style = "text-align:center") Hermione
     h2(style = "text-align:center") Interactive Energy Management

    div 
      h2(style="text-align: center") Characteristics for #{searchbin_data.building} when Power Consumption is #{searchbin_data.usagekW} kW

      div.row
          div.col-sm-3(style = "font-family: Helvetica,sans-serif; background-color: #00bfff; color: black; padding: 6px 6px 6px 6px; text-align: center") Day of Month: #{searchbin_data.DayOfMonth}
          div.col-sm-3(style = "font-family: Helvetica,sans-serif; background-color: #18BC9C; color: black; padding: 6px 6px 6px 6px; text-align: center") Hour in Day: #{searchbin_data.TimeOfDay}
          div.col-sm-3(style = "font-family: Helvetica,sans-serif; background-color: #00bfff; color: black; padding: 6px 6px 6px 6px; text-align: center") Temperature: #{searchbin_data.AvgTemperature} F
          div.col-sm-3(style = "font-family: Helvetica,sans-serif; background-color: #18BC9C; color: black; padding: 6px 6px 6px 6px; text-align: center") Wind Speed:  #{searchbin_data.AvgWindSpeed}
      div.row
          div.col-sm-3(style = "font-family: Helvetica,sans-serif; background-color: #18BC9C; color: black; padding: 6px 6px 6px 6px; text-align: center") Humidity: #{searchbin_data.AvgHumidity} %
          div.col-sm-3(style = "font-family: Helvetica,sans-serif; background-color: #00bfff; color: black; padding: 6px 6px 6px 6px; text-align: center") Solar: #{searchbin_data.AvgSolar}
          div.col-sm-3(style = "font-family: Helvetica,sans-serif; background-color: #18BC9C; color: black; padding: 6px 6px 6px 6px; text-align: center") Gust Speed: #{searchbin_data.AvgGusts}
          div.col-sm-3(style = "font-family: Helvetica,sans-serif; background-color: #00bfff; color: black; padding: 6px 6px 6px 6px; text-align: center") Dew Point: #{searchbin_data.AvgDewPoint}

    div#lineContainer(style = "padding-top : 20px; padding-bottom: 20px")
    script.
      $(function () { 
                 var myChart = Highcharts.chart('lineContainer', {
               chart: {
                   type: 'line'
               },
               title: {
                   text: 'Energy Usage'
               },
               xAxis: {
                   categories: [#{baseline_data.time}],
                   title : { text: 'Time' }
               },
               yAxis: {
                   title: {
                       text: 'Power (kW)'
                   }
               },
               series: [
                  {
                    name: 'Baseline',
                    data: [#{baseline_data.y_predict}]
                  },
                  {
                    name: 'Predicted',
                    data: [#{predicted_data.y_predict}]
                  }
               ]
           });
      });

     script.
         setInterval(function() {
             location.reload(true);
         }, 5000) 

    
    div
        h4 Hello! I could answer questions such as:
        ul
            li Describe the conditions for {Building} when energy usage is {UsagekW} kilowatts
            li What is the predicted energy consumption for {Day}
            li What is the predicted energy consumption for the month of {Month}
            li What is the expected consumption if I change {SetPointTypeOne} to {SetPointValOne} from time {StartTime} to {EndTime}
            li What should my set points be for the best strategy

