extends layout

block content

    script(type="text/javascript").
        $(document).ready(function() {
             document.getElementById("#{synthesizer_data[0].best_id}").style.backgroundColor=#32cd32"
        });

    div(style="text-align:center")
      h3(style="padding-bottom:30px") Strategy #{synthesizer_data[0].best_id}
      is optimal, consuming #{synthesizer_data[0].best_energy} kWh
        
    div.row(style="margin:auto")
      div.col-sm-4(style="text-align:center")
        div(class="panel panel-default")
          div(class="panel-heading") Strategy 1
          div(class="panel-body", style="text-align:left; padding-left:30%")
            p lighting level: #{synthesizer_data[0].lil}
            p chilled water temperature: #{synthesizer_data[0].cwsetp}
            p zone temperature: #{synthesizer_data[0].clgsetp}
      div.col-sm-4(style="text-align:center")
        div(class="panel panel-default")
          div(class="panel-heading") Strategy 2
          div(class="panel-body", style="text-align:left; padding-left:30%")
            p lighting level: #{synthesizer_data[1].lil}
            p chilled water temperature: #{synthesizer_data[1].cwsetp}
            p zone temperature: #{synthesizer_data[1].clgsetp}
      div.col-sm-4(style="text-align:center")
        div(class="panel panel-default")
          div(class="panel-heading") Strategy 3
          div(class="panel-body", style="text-align:left; padding-left:30%")
            p lighting level: #{synthesizer_data[2].lil}
            p chilled water temperature: #{synthesizer_data[2].cwsetp}
            p zone temperature: #{synthesizer_data[2].clgsetp}

    div#lineContainer(style = "padding-top : 20px; padding-bottom: 20px")
    script.
      $(function () { 
                 var myChart = Highcharts.chart('lineContainer', {
               chart: {
                   type: 'line'
               },
               title: {
                   text: 'Energy Usage'
               },
               xAxis: {
                   categories: [#{baseline_data.time}],
                   title : { text: 'Time (min)' }
               },
               yAxis: {
                   title: {
                       text: 'Power (kW)'
                   }
               },
               plotOptions: {
                 series: {
                   fillOpacity: 0.3
                 }
               },
               series: [
                  {
                    name: 'Strategy 1',
                    data: [#{synthesizer_data[0].y_predict}],
                    color: 'Black'
                  },
                  {
                    name: 'Strategy 2',
                    data: [#{synthesizer_data[1].y_predict}],
                    color: 'Grey'
                  },
                  {
                    name: 'Strategy 3',
                    data: [#{synthesizer_data[2].y_predict}],
                    color: 'SlateGrey'
                  }
               ]
           });
      });

