extends layout

block content

    script(type="text/javascript").
        $(document).ready(function() {
             var idBody = #{synthesizer_data[0].best_id} + 3
             document.getElementById("#{synthesizer_data[0].best_id}").style.backgroundColor="#44A64B"
             document.getElementById(idBody).style.backgroundColor="#A2DDA6"
        });

    div(style="text-align:center")
      h3(style="padding-bottom:30px") Strategy #{synthesizer_data[0].best_id} is optimal, consuming #{synthesizer_data[0].best_energy} MWh
        
    div.row(style="margin:auto")
      div.col-sm-4(style="text-align:center")
        div(class="panel panel-default")
          div#1(class="panel-heading" style="font-size:18px") 
            strong Strategy 1
          div#4(class="panel-body", style="text-align:left; padding-left:30%")
            p(style="font-size:16px") Lighting Level: #{synthesizer_data[0].lil} %
            p(style="font-size:16px") Chilled Water Temperature: #{synthesizer_data[0].cwsetp} C
            p(style="font-size:16px") Zone Temperature: #{synthesizer_data[0].clgsetp} C
      div.col-sm-4(style="text-align:center")
        div(class="panel panel-default")
          div#2(class="panel-heading" style="font-size:18px") 
            strong Strategy 2
          div#5(class="panel-body", style="text-align:left; padding-left:30%")
            p(style="font-size:16px") Lighting Level: #{synthesizer_data[1].lil} %
            p(style="font-size:16px") Chilled Water Temperature: #{synthesizer_data[1].cwsetp} C
            p(style="font-size:16px") Zone Temperature: #{synthesizer_data[1].clgsetp} C
      div.col-sm-4(style="text-align:center")
        div(class="panel panel-default")
          div#3(class="panel-heading" style="font-size:18px") 
            strong Strategy 3
          div#6(class="panel-body", style="text-align:left; padding-left:30%")
            p(style="font-size:16px") Lighting Level: #{synthesizer_data[2].lil} %
            p(style="font-size:16px") Chilled Water Temperature: #{synthesizer_data[2].cwsetp} C
            p(style="font-size:16px") Zone Temperature: #{synthesizer_data[2].clgsetp} C

    div#lineContainer(style = "padding-top : 20px; padding-bottom: 20px; padding-left:20px; padding-right:20px")
    script.
      $(function () { 
                 var myChart = Highcharts.chart('lineContainer', {
               chart: {
                   type: 'line'
               },
               title: {
                   text: 'Energy Usage'
               },
               xAxis: {
                   tickInterval: 5 * 60 * 1000,
                   type: 'datetime',
                  dateTimeLabelFormats: {
                   day: '%H:%M'
                 },
                   title : { text: 'Time' }
               },
               yAxis: {
                   title: {
                       text: 'Power (kW)'
                   }
               },
               plotOptions: {
                 series: {
                   fillOpacity: 0.3
                 }
               },
               series: [
                  {
                    name: 'Strategy 1',
                    data: [#{synthesizer_data[0].y_predict}],
                    color: 'Black'
                  },
                  {
                    name: 'Strategy 2',
                    data: [#{synthesizer_data[1].y_predict}],
                    color: 'LightBlue'
                  },
                  {
                    name: 'Strategy 3',
                    data: [#{synthesizer_data[2].y_predict}],
                    color: 'LightSalmon'
                  }
               ]
           });
      });

