extends layout

block content

    div 
      h3.
        The most optimum strategy is strategy #{synthesizer_data.best_id} with a power consumption of #{synthesizer_data.best_energy} kWh.

    div#lineContainer(style = "padding-top : 20px; padding-bottom: 20px")
    script.
      $(function () { 
                 var myChart = Highcharts.chart('lineContainer', {
               chart: {
                   type: 'line'
               },
               title: {
                   text: 'Energy Usage'
               },
               xAxis: {
                   categories: [#{synthesizer_data[0].time}],
                   title : { text: 'Time' }
               },
               yAxis: {
                   title: {
                       text: 'Power (kW)'
                   }
               },
               series: [
                  {
                    name: 'Strategy 0',
                    data: [#{synthesizer_data[0].y_predict}]
                  },
                  {
                    name: 'Strategy 1',
                    data: [#{synthesizer_data[1].y_predict}]
                  },
                  {
                    name: 'Strategy 2',
                    data: [#{synthesizer_data[2].y_predict}]
                  }
               ]
           });
      });

    div
      p Strategy 0 assuming set point values:
      ul
        li lighting level: #{synthesizer_data[0].lil}
        li chilled water temperature: #{synthesizer_data[0].cwsetp}
        li zone temperature: #{synthesizer_data[0].clgsetp}

      p Strategy 1 assuming set point values:
      ul
        li lighting level: #{synthesizer_data[1].lil}
        li chilled water temperature: #{synthesizer_data[1].cwsetp}
        li zone temperature: #{synthesizer_data[1].clgsetp}
      
      p Strategy 2 assuming set point values:
      ul
        li lighting level: #{synthesizer_data[2].lil}
        li chilled water temperature: #{synthesizer_data[2].cwsetp}
        li zone temperature: #{synthesizer_data[2].clgsetp}
